<ul>
  <li class="divider-vertical"></li>
  <li>
    <p>{{ dtd_revenue|money }}</p>
    <span>day</span>
  </li>
  <li class="divider-vertical"></li>
  <li>
    <p>{{ mtd_revenue|money }}</p>
    <span>month</span>
  </li>
  <li class="divider-vertical"></li>
  <li>
    <p>{{ ytd_revenue|money }}</p>
    <span>year</span>
  </li>
  <li class="divider-vertical"></li>
</ul>
