{% if accountManager.name %}
  {{ accountManager.name }}<br />
{% endif %}

{% if accountManager.email %}
  E: <a href="mailto:{{ accountManager.email }}">{{ accountManager.email }}</a><br />
{% endif %}

{% if accountManager.phone %}
  P: {{ accountManager.phone }}<br />
{% endif %}
